.c
{
    background-color: lightblue;
}

.s
{
    color:black;
}

.r
{
    color: #d92027;
}

.b
{
    background-color: #f5f5f5;
}

.hoot
{
   background-color:#f0f0f0;
}

.w
{
    color: whitesmoke;
}