<br> <h2 class="text-center c"> <b>FARM</b>  &nbsp;&nbsp;
    <img height="100px" width="100px" class="m text-center" src="../../assets/Logo/logo10.jpg" alt=""> 
    &nbsp;&nbsp; <b>FRESH</b> </h2>
<h5 class="text-center b">Fresh-2-You!</h5>
<hr>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
   
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="600px" src="../../assets/About us/farm1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="">FARM FRESH Stand's For Farmer's Hardwork!</h1>
          <u> <h4 class="f1">Farmers from South & East Maharastra to be benefitted <br> 
            100% for thier Selling!! </h4>
</u>        </div>
      </div>

  </div>
  </div>
  <hr>

<div class="row">
    <div class="col-lg-6 text-center">
        <img height="250px" width="350px" src="../../assets/About us/farm3.jpg" alt="">
    </div> 
    <div class="col-lg-6">
        <br>
        <h4>Anil Bhosale Of Kolhapur District, Chandgad Taluka has been with us since the beginning and
            made possible providing fresh vegetables at your Door-Step! We are thankful to him
        and his Family for all the Hardwork.   </h4> <br>
        <h6>Anil Bhosale :   <i>Thankyou for providing services and making a livelyhood for <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                me and my Family:)</i></h6>
    </div>

</div>
<br><br>
<br>
<div class="row">
    <div class="col-lg-4 text-center"><br><br>
      <h4 class="text-center">Encouraging Farmers And Providing Employment and Objective was are soul Goal 
          And Purpose since the very Start, as it will Utter the Economy!  </h4>
    </div>
    <div class="col-lg-4 text-right">
        <img height="250px" width="350px" src="../../assets/About us/farm2.jpg" alt="">      
    </div>
    
    <div class="col-lg-4 text-center">
        <img height="250px" width="350px" src="../../assets/About us/farm4.jpg" alt="">
    </div>
    
</div>
<br><br>
<h2 class="text-center h"><i>Let's Figth CORONA With Your Fresh Healthy Products!</i></h2>
<br><br>
<div class="row">
    <div class="col-lg-6 text-center">
          <img  height="250px" width="350px" src="../../assets/About us/flw1.jpg" alt=""> 
    </div>
    <div class="col-lg-6 text-center"> <br>
        <br>
         <h4>Bringing the Fresh Natural Aromatic Smells to You and getting close to the nature 
             is a way of relaxing in today's life!
         </h4>
    </div>

</div>
<br><br><br>
<div class="row">
    <div class="col-lg-4 text-center">
        <img height="250px" width="350px" src="../../assets/About us/frt1.jpg" alt="">
    </div>
    <div class="col-lg-4 text-left">
        <img height="250px" width="350px" src="../../assets/About us/frt2.jpg" alt="">      
    </div>
    <div class="col-lg-4 text-center"><br><br>
      <h4>We Present you all the various varieties of Fruits with
          
         all the proteins and nutrients for your daily life
         
         and for your DOCTER to keep away!!
      </h4>
    </div>

</div>
<br><br><br>

<div class="row">
    <div class="col-lg-4 text-center">
        <img height="250px" width="350px" src="../../assets/About us/nut1.jpg" alt="">
    </div>
    <div class="col-lg-4 text-left">
        <img height="250px" width="350px" src="../../assets/About us/nut2.jpg" alt="">      
    </div>
    <div class="col-lg-4 text-center"><br><br>
      <h2><i>GO NUTS!!</i></h2>
        <h4> With all our variety of premium assorted Dry-Fruits
      </h4>
    </div>

</div>
<br><br><br>
<div class="row">
    <div class="col-lg-4 text-center">
        <img height="250px" width="350px" src="../../assets/About us/veg2.jpg" alt="">
    </div>
    <div class="col-lg-4 text-left">
        <img height="250px" width="350px" src="../../assets/About us/veg1.jpg" alt="">      
    </div>
    <div class="col-lg-4 text-center"><br><br>
        <h4> All the multi-vitamins Healthy Vegetables for You to fight against 
            Corona! 
      </h4>
    </div>

</div>

<hr>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 hoot f">

    <!-- Footer Links -->
    <footer class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row"> 
  
        <!-- Grid column -->
        <div class=" col-lg-6 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address:</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Pune-411028, Maharashtra ,INDIA  </p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> freshtoyou@gmail</p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i> + 88 88 888 888</p>
            </li>
            <li>
              <p>
                <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </li>
          </ul>
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us:</h5>
  
  <a class="fb-ic">
    <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
  </a>
  
  <a class="tw-ic">
    <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
  </a>
  
  <a class="gplus-ic">
    <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
  </a>
  
  <a class="li-ic">
    <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
  </a>
  
  <a class="ins-ic">
    <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
  </a>
  
  <a class="pin-ic">
    <i class="fab fa-pinterest fa-lg white-text"> </i>
  </a>
        </div>
  
  
  <div class=" col-lg-6 mr-auto my-md-4 my-0 mt-4 mb-1">
  
    
    <h5 class="font-weight-bold text-uppercase mb-4">OUR MOTO:</h5>
    <p> <i>Our Moto is to bring Fresh Vegetables/Fruits/Dry-Fruits/Flowers at your Door step!
      While Simultaneously we help the Farmers To Get their proper Share Profit.
      We believe in our Morals and Ethics for everyone's Satisfaction.
      It was an Honor and Pleasure Shopping Farm Products with You!!</i>  </p>
  <br>
  <br>
  <br>
  
    
    <ul class="list-unstyled list-inline py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">&nbsp;&nbsp;&nbsp;&nbsp;  Register for free: </h5>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <li class="list-inline-item">
        <a routerLink="/register" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
    </ul>
      
      </div>
  
  </div>
  <hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/main"> FarmFresh.com</a>
  </div>
    
  </footer>
  
  
  
  
  
  
  
  
  
  





