.m
{
   border-radius: 60%;
}

.c
{
    background: rgba(162, 240, 162, 0.808);
}

.b
{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.f1
{
    color: rgb(255, 255, 255);
}

.h
{
    background: rgba(216, 207, 129, 0.849);
}

.f
{
    background: rgba(222, 222, 235, 0.884);
}